*{
    box-sizing: border-box;
}
body{
    background-image: url('land_mines.jpg');
    background-repeat: no-repeat;
    background-color:rgba(26, 16, 16, 0.842) ;
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
}
.continer-header1{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.timer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border:1px solid white;
    border-radius: 25px;
    background-color:rgb(37, 37, 37);
    color:greenyellow;
    font-size: 25px;
}
.lives{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border:1px solid white;
    border-radius: 25px;
    background-color:rgb(37, 37, 37);
    color:greenyellow;
    font-size: 25px;
}
.continer-header2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.continer-header3{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hints{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border:1px solid white;
    background-color:rgb(37, 37, 37);
    border-radius: 25px;
    color:greenyellow;
    font-size: 25px;
    
}
.safe-click{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border:1px solid white;
    background-color:rgb(37, 37, 37);
    border-radius: 25px;
    color:greenyellow;
    font-size: 25px;
}
.smiley-out{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.smiley{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: rgb(37, 37, 37);
    width: 50px;
    height: 50px;
    border:1px solid white;
    border-radius:5px
}
.smiley:active{
    background-color: red;
}
.size-out{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
}
.size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:yellow;
    font-size: 20px;
}
.four{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:greenyellow;
    background-color:rgb(37, 37, 37);
}
.eight{
    background:linear-gradient(120deg,violet,rgb(245, 50, 157))
}
.twelve{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: greenyellow;
    background-color: rgb(37, 37, 37);
}
.continer-modal{
    height: 200px;
}
.modal-out{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border:1px solid white;
    color:rgb(245, 50, 157);
    background-color: rgb(37, 37, 37);
    width: 160px;
    height: 80px;
    font-size: 30px;
}


.board-out{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    text-align: center;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background:linear-gradient(120deg,turquoise, lightblue,aqua);
}
.touch{
    font-size: 22px;
    font-weight: 500;
    background:linear-gradient(120deg,violet,rgb(245, 50, 157));
}
.bomb{
    font-size: 22px;
    font-weight: 500;
    background:radial-gradient(orange,tomato, red);
}
.flag{
    font-size: 22px;
    font-weight: 500;
    background:linear-gradient(30deg,yellow,rgb(255, 115, 0), yellow);
}
.hintCells{
    font-size: 22px;
    font-weight: 500;
    background:linear-gradient(60deg,greenyellow,green, yellowgreen);
}
.safe-click-color{
    font-size: 22px;
    font-weight: 500;
    background:linear-gradient(60deg,lightyellow,greenyellow,yellow);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border:1px solid white;
    background-color:rgb(37, 37, 37);
    border-radius: 25px;
    color:greenyellow;
    font-size: 25px;
}
